---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

<h2>VGDev One-Hour Game Jam Animation</h2>
<img src="https://fnuha.github.io/images/one_hour_game_jam.gif"></img>

<h2>2D Art and Animation</h2>
<img src="https://fnuha.github.io/images/portfolio-digital_illustration_work.png"></img>
<img src="https://fnuha.github.io/images/2D_run_cycle.gif"></img>
<img src="https://fnuha.github.io/images/lined.gif"></img>
